{% extends 'base.html.twig' %}

{% block title %}
    Esuria // Agenda
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href={{asset("css/Agenda.css")}}/>
{% endblock %}
{% block content %}
    <!-- CONTENU -->
    <div id="app" style="display: flex;flex-direction: column;">
        <div id="Scroll">
            <div class="Bandeau">
                <h1 class="Gros_Titre">- Prochains événements -</h1>
            </div>
            <div class="Article_element">
                {% for agenda in future %}
                    <div class="Une_Boite">
                        <a href="{{path('lecture-article' , {path : agenda.path})}}" class="Lien_Photo"><img src="{{asset(agenda.image.path)}}" class="Photo"></a>
                        <div class="Sous_Bandeau">
                            <h2 class="Titre_article">
                                {{agenda.titre}}
                            </h2>
                            <p class="Date">
                                <span class="Couleur_slash">//
                                </span>
                                {{ agenda.date|localizeddate('none', 'none', null, null, 'EEEE d ')|capitalize }}
                                {{ agenda.date|localizeddate('none', 'none', null, null, 'MMMM Y ')|capitalize }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div class="Une_Boite hidden"></div>

                <div class="Une_Boite hidden"></div>

            </div>

            <div class="Bandeau">
                <h1 class="Gros_Titre">- Evénements passés -</h1>
            </div>

            <div class="Article_element">
                {% for agenda in past %}
                    <div class="Une_Boite">
                        <a href="{{path('lecture-article' , {path : agenda.path})}}" class="Lien_Photo"><img src="{{asset(agenda.image.path)}}" class="Photo"></a>
                        <div class="Sous_Bandeau">
                            <h2 class="Titre_article">
                                {{agenda.titre}}
                            </h2>
                            <p class="Date">
                                <span class="Couleur_slash">//
                                </span>
                                {{ agenda.date|localizeddate('none', 'none', null, null, 'EEEE d ')|capitalize }}
                                {{ agenda.date|localizeddate('none', 'none', null, null, 'MMMM Y ')|capitalize }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div class="Une_Boite hidden"></div>

                <div class="Une_Boite hidden"></div>

            </div>
        </div>
        {# <hr id="Separation_basse"/>
        <div id="Partie_Basse">
            <div id="Gauche">
                <i class="fal fa-map" aria-hidden></i>
                <p>
                    Carte des rencontres IRL
                </p>
            </div>
            <div id="Droite">
                <p>
                    Planning&nbsp;de&nbsp;contenus
                </p>
            </div>
        </div> #}
    </div>
{% endblock %}
