{% extends 'base.html.twig' %}
{% block title %}
    {{parent()}}
    Musique
{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{{asset("css/Hobbies_Musique.css")}}"/>
{% endblock %}
{% block content %}
    <!-- CONTENU -->
    <div id="Zone">
        <div id="Hobbies_Switch">
            <a href="{{path('hobbies')}}">
                <i class="far fa-chevron-left"></i>
                <i class="fal fa-music active"></i>
                <i class="far fa-chevron-right"></i>
            </a>
            <a href="{{path('hobbiesJeux')}}">
                <i class="fal fa-gamepad"></i>
            </a>
            <a href="{{path('hobbiesFilm')}}">
                <i class="fal fa-film-alt"></i>
            </a>
            <a href="{{path('hobbiesLivre')}}">
                <i class="fal fa-book"></i>
            </a>
        </div>
        <div id="Zone_bas">
            <div class="Wrap">
                <div id="Moment">
                    <div class="Moment_2">
                        <p>Album&nbsp;du&nbsp;moment</p>
                        {% if album_moment %}<a href="{{album_moment.link}}" target="_blank"><img src="{{album_moment.image.path}}" alt="{{album_moment.image.alt}}"></a>{% endif %}
                    </div>
                    <div class="Moment_2">
                        <p>Musique&nbsp;du&nbsp;moment</p>
                        {% if musique_moment %}<div class="moment_iframe"><iframe src="https://www.youtube.com/embed/{{musique_moment.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>{% endif %}
                    </div>
                </div>
            </div>

            <div class="Wrap">
                <div class="Favori">
                    <p>Albums Favoris</p>
                </div>
                <div class="Article_element">
                    {%  set countAlbumFav = 0 %}
                    {% for hobbie in hobbies if hobbie.type == "Album_fav" %}
                        {% if countAlbumFav == 3 %}
                            {%  set countAlbumFav = 0 %}
                        {% endif %}
                        <div class="Une_Boite">
                            <a href="{{hobbie.link}}" target="_blank"><img alt="{{hobbie.image.alt}}" src="{{hobbie.image.path}}"></a>
                        </div>
                        {% set countAlbumFav = countAlbumFav + 1 %}
                    {% endfor %}
                    {% for i in  countAlbumFav..4 if countAlbumFav != 3 %}
                        <div class="Une_Boite hidden"></div>
                    {% endfor %}
                </div>
            </div>

            <div class="Wrap">
                <div class="Favori">
                    <p>Groupes Favoris</p>
                </div>
                <div class="Article_element">
                    {%  set countGroupeFav = 0 %}

                    {% for hobbie in hobbies if hobbie.type == "Groupe_fav" %}
                        {% if countGroupeFav == 2 %}
                            {%  set countGroupeFav = 0 %}
                        {% endif %}
                        <div class="Une_Boite groupe">
                            <a href="{{hobbie.link}}" target="_blank"><img src="{{hobbie.image.path}}" alt="{{hobbie.image.alt}}"></a>
                        </div>
                        {% set countGroupeFav = countGroupeFav + 1 %}
                    {% endfor %}
                    {% for i in  countGroupeFav..4 if countGroupeFav != 2 %}
                        <div class="Une_Boite hidden_group"></div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script</script>
{% endblock %}
