{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    Présentation
{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href={{asset("css//Index.css")}}/>
{% endblock %}
{% block content %}
    <div id="Zone">
        <div id="Hobbies_Switch">
            <a href="{{path('index_nouveaute')}}">Nouveauté</a>
            <a href="#">
                <i class="far fa-chevron-left"></i>
                <span class="Current">Présentation</span>
                <i class="far fa-chevron-right"></i>
            </a>
            <a href="{{path('index_biographie')}}">Biographie</a>
        </div>
        <div id="Zone_haut">
            <div id="Presentation">
                <h1>- Présentation -</h1>
                <p>{{bio.presentation}}</p>
            </div>
            <div id="Competences">
                <h1>- Compétences -</h1>
                <div id="Competences_data">
                    {% for skill in skills %}
                        <a href="{{skill.link}}" target="_blank" class="Competences_line">
                            <i class="{{skill.icone}}"></i>
                            {{skill.name}}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
