{% extends 'base.html.twig' %}
{% block title %}
    {{parent()}}
    Accueil
{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href={{asset("css/Index_nouveauté.css")}}/>
{% endblock %}
{% block content %}
    <!-- CONTENU -->
    <div id="Zone">
        <div id="Hobbies_Switch">
            <a href="#">
                <i class="far fa-chevron-left"></i>
                <span class="Current">Nouveauté</span>
                <i class="far fa-chevron-right"></i>
            </a>
            <a href="{{path('accueil')}}">Présentation</a>
            <a href="{{path('index_biographie')}}">Biographie</a>
        </div>
        <div id="app">
            <div id="Zone_haut">
                <h1 class="Titre">- Derniere Vidéo -</h1>
                <iframe :src="video" allow="autoplay; encrypted-media" allowfullscreen frameborder="0" height="180" width="320"></iframe>
                <h1 class="Titre">- Derniers Articles -</h1>
                <div class="Article_element">
                    {% for article in articles %}
                        <div class="Une_Boite">
                            <a class="Lien_Photo" href="{{path("lecture-article",{path : article.path })}}"><img class="Photo" src={{asset(article.image.path)}}></a>
                            <div class="Sous_Bandeau">
                                <h2 class="Titre_article">
                                    {{article.titre}}
                                </h2>
                                <p class="Date">
                                    <span class="Couleur_slash">//
                                    </span>
                                    {{ article.date|localizeddate('none', 'none', null, null, 'EEEE d ')|capitalize }}
                                    {{ article.date|localizeddate('none', 'none', null, null, 'MMMM Y ')|capitalize }}
                                </p>
                                <p class="Description">
                                    {{article.description}}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h1 class="Titre">- Instagram -</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{asset('js/vue.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: [
                '{', '}'
            ],
            data: {
                videos: [],
                video: ""
            },
            mounted() {
                this.getCount();
            },
            methods: {
                getCount() {
                    axios({method: 'get', url: 'https://www.googleapis.com/youtube/v3/search?part=snippet&channelId=UCiSDuWuCMrs-hafoBTUbQkg&key=AIzaSyDX6MnQaZp1TXOmbsmfEhSTnyhYUGAj2F4'}).then(response => {
                        // console.log(response.data.items)
                        // console.log(JSON.parse(response.data.items));
                        // var json = JSON.parse(response.data.items);
                        var object = this;
                        var lastVideoId = "";
                        $.each(response.data.items, function (key, value) {
                            console.log(value)
                            if (value.id.kind != "youtube#channel") {
                                object.videos.push({"videoId": value.id.videoId, "date": value.snippet.publishedAt});
                            }
                        });
                        this.videos.sort(function (a, b) {
                            // Turn your strings into dates, and then subtract them
                            // to get a value that is either negative, positive, or zero.
                            return new Date(b.date).getTime() - new Date(a.date).getTime();
                        });
                        this.video = "https://www.youtube.com/embed/" + this.videos[0].videoId
                    })
                }
            }
        })
    </script>
{% endblock %}
