{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} Présentation
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css//Index.css")}} />
{% endblock %}
{% block content %}
<div id="Zone">
  <div id="Hobbies_Switch">
    <a href="{{path('index_nouveaute')}}">Nouveauté</a>
    <a href="#"><i class="far fa-chevron-left"></i><span class="Current">Présentation</span><i class="far fa-chevron-right"></i></a>
    <a href="{{path('index_biographie')}}">Biographie</a>
  </div>
  <div id="Zone_haut">
    <div id="Presentation">
      <h1>- Présentation -</h1>
      <p>{{bio.presentation}}</p>
    </div>
    <div id="Parcours">
      <h1>- Parcours -</h1>
      <div id="Timeline">
        <div id="Info">
          <p class="Periode active" id="Periode_2012_2015">2012 - 2015</p>
          <p class="Titre_periode active" id="Titre_lycee">Lycée Charles Jully</p>

          <p class="Periode" id="Periode_2012_">2012 -</p>
          <p class="Titre_periode" id="Titre_Faeriths">Faerith's</p>

          <p class="Periode" id="Periode_2015">2015</p>
          <p class="Titre_periode" id="Titre_Viessmann">Viessmann</p>

          <p class="Periode" id="Periode_2015_2017">2015 - 2017</p>
          <p class="Titre_periode" id="Titre_SUP">SUPINFO - The International Institute of Information Technology</p>

          <p class="Periode" id="Periode_2016">2016</p>
          <p class="Titre_periode" id="Titre_CH">Centre Hospitalier de Saint-Avold</p>

          <p class="Periode" id="Periode_2017_">2017 -</p>
          <p class="Titre_periode" id="Titre_Com4Up">Com4Up</p>

          <p class="Periode" id="Periode_2018_">2018 -</p>
          <p class="Titre_periode" id="Titre_SS">Streaming School</p>
        </div>
      </div>

      <div id="Timeline_bar">
      {% set x = 0 %}
        {% for x in 0..20 %}
        <div class="Bar"></div>
        <div class="circle"><div class="InsideCircle"></div></div>
        {% set x = x + 1 %}
        {% endfor %}
        <div class="Bar"></div>
      </div>

      <div id="Description">
      </div>
    </div>


    <div id="Competences">
      <h1>- Compétences -</h1>
      <div id="Competences_data">
      {% for skill in bio.competence %}
        <div class="Competences_line">
          <i class="{{skill.icone}}"></i>
          <p>{{skill.name}}</p>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
