{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} Présentation
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css//Index.css")}} />
{% endblock %}
{% block content %}
<div id="Zone">
  <div id="Hobbies_Switch">
    <a href="{{path('index_nouveaute')}}">Nouveauté</a>
    <a href="#"><i class="far fa-chevron-left"></i><span class="Current">Présentation</span><i class="far fa-chevron-right"></i></a>
    <a href="{{path('index_biographie')}}">Biographie</a>
  </div>
  <div id="Zone_haut">
    <div id="Presentation">
      <h1>- Présentation -</h1>
      <p>{{bio.presentation}}</p>
    </div>
    <div id="Parcours">
      <h1>- Parcours -</h1>
      <div id="Timeline">
        <div id="Info">
          <p class="Periode active" id="Periode_2012_2015">2012 - 2015</p>
          <p class="Titre_periode active" id="Titre_lycee">Lycée Charles Jully</p>
        </div>
      </div>

      <i class="far fa-chevron-double-left" id="chevron_past"></i>
      <div id="Timeline_bar">
      {% set x = 0 %}
        {% for x in 0..20 %}
          <div class="Bar"></div>
          <div class="circle"><div class="InsideCircle"></div></div>
          <div class="Bar"></div>
          <div class="LitleCircle"><div class="InsideLitleCircle"></div></div>
          <div class="Bar"></div>
          <div class="LitleCircle"><div class="InsideLitleCircle"></div></div>
          <div class="Bar"></div>
          <div class="LitleCircle"><div class="InsideLitleCircle"></div></div>
          {% set x = x + 1 %}
        {% endfor %}
        <div class="Bar"></div>
      </div>
      <i class="far fa-chevron-double-right" id="chevron_post"></i>

      <div id="Description">
      </div>
    </div>


    <div id="Competences">
      <h1>- Compétences -</h1>
      <div id="Competences_data">
      {% for skill in bio.competence %}
        <div class="Competences_line">
          <i class="{{skill.icone}}"></i>
          <p>{{skill.name}}</p>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  var c = 1;
document.getElementById('chevron_past').onclick = function() {
  c++;
  $('#Timeline_bar>div').css( { left: 'calc(9% * ' + c + ')' } );
};

document.getElementById('chevron_post').onclick = function() {
  c--;
  $('#Timeline_bar>div').css( { left: 'calc(9% * ' + c + ')' } );
};
</script>
{% endblock %}
