<!DOCTYPE html>
<html lang="fr">

<head>
	<!-- UTILITAIRES -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- DESCRIPTION -->
	<title>
		{% block title %}
			Esuria // 
		{% endblock %}
	</title>
	<meta name="description" content="Vidéaste & Web Designer, ">
	<meta name="keywords" content="Vidéo, Live, Streaming, Web Designer, Communauté, Gaming">
	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href={{asset("css/Fixe.css")}}/>
	{% block css %}
	{% endblock %}
	<!-- POLICE -->
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Roboto|Roboto+Slab" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-POYwD7xcktv3gUeZO5s/9nUbRJG/WOmV6jfEGikMJu77LGYO8Rfs2X7URG822aum" crossorigin="anonymous"> -->
	<link type="text/css" rel="stylesheet" href="../fonts/fontawesome-pro-5.4.2-web/css/all.css" />
	<!-- FAVICON -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../Images/Favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../Images/Favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../Images/Favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../Images/Favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../Images/Favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../Images/Favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../Images/Favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../Images/Favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="../Images/Favicon/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="../Images/Favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="../Images/Favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../Images/Favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="../Images/Favicon/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="../Images/Favicon/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="../Images/Favicon/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="../Images/Favicon/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="../Images/Favicon/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="../Images/Favicon/mstile-310x310.png" />
</head>

<body>
	<!-- BARRE DE NAVIGATION -->
		<header id="Main_header">

			<!-- LOGO -->
			<a href="/acceuil" id="Image_Logo"><img src={{asset("Images/Logo_Portfolio.png")}} alt="Logo de Esuria"></a>
			<h1 id="Logo">KLEINE THOMAS</h1>

			<!-- MENU -->

			<div class="Decoration">
				<hr class="Decoration_trait"><span class="Slash">/ /</span>
				<hr class="Decoration_trait">
			</div>

			<nav id="Navigation_principale">
				<ul>
				{% if app.request.attributes.get('_route') == "accueil" %}
					<li><a href="{{path('accueil')}}"><span id="Selection">- PRESENTATION -</span></a></li>	
				{% else %}
					<li class="Espace"><a href="{{path('accueil')}}">PRESENTATION</a></li>
				{% endif %}
				{% if app.request.attributes.get('_route') == "projets" %}
					<li><a href="{{path('projets')}}"><span id="Selection">- PROJETS -</span></a></li>	
				{% else %}
					<li class="Espace"><a href="{{path('projets')}}">PROJETS</a></li>
				{% endif %}
				{% if app.request.attributes.get('_route') == "accueil" %}
					{# <li><a href="{{path('accueil')}}"><span id="Selection">- PRESENTATION -</span></a></li>	 #}
					<li class="Espace"><a href="/hobbies">HOBBIES</a></li>
				{% else %}
					<li class="Espace"><a href="/hobbies">HOBBIES</a></li>
				{% endif %}
				{% if app.request.attributes.get('_route') == "live" %}
					<li><a href="{{path('live')}}"><span id="Selection">- LIVE -</span></a></li>	
				{% else %}
					<li class="Espace"><a href="{{path('live')}}">LIVE</a></li>
				{% endif %}
				{% if app.request.attributes.get('_route') == "blog" %}
					<li><a href="{{path('blog')}}"><span id="Selection">- BLOG -</span></a></li>	
				{% else %}
					<li class="Espace"><a href="{{path('blog')}}">BLOG</a></li>
				{% endif %}
				{% if app.request.attributes.get('_route') == "agenda" %}
					<li><a href="{{path('agenda')}}"><span id="Selection">- AGENDA -</span></a></li>	
				{% else %}
					<li class="Espace"><a href="{{path('agenda')}}">AGENDA</a></li>
				{% endif %}
				{% if app.request.attributes.get('_route') == "contact" %}
					<li><a href="{{path('contact')}}"><span id="Selection">- CONTACT -</span></a></li>	
				{% else %}
					<li class="Espace"><a href="{{path('contact')}}">CONTACT</a></li>
				{% endif %}
				</ul>
			</nav>

			<div class="Decoration">
				<hr class="Decoration_trait"><span class="Slash">/ /</span>
				<hr class="Decoration_trait">
			</div>

			<!-- SOCIAL MEDIA -->
			<div id="Social_Media">
				<div id="Social_haut">
					<a href="https://www.facebook.com/Fas.Esuria" target="_blank"><i class="fab fa-facebook" aria-hidden></i></a>
					<a href="https://twitter.com/Fas_Esuria" target="_blank"><i class="fab fa-twitter" aria-hidden></i></a>
					<a href="https://www.youtube.com/user/TheEsuria" target="_blank"><i class="fab fa-youtube" aria-hidden></i></a>
					<a href="https://www.twitch.tv/esuria" target="_blank"><i class="fab fa-twitch" aria-hidden></i></a>
					<a href="https://discord.gg/0juokWszfSghvzBr" target="_blank"><i class="fab fa-discord" aria-hidden></i></a>
				</div>

				<div id="Social_bas">
					<a href="https://www.instagram.com/Fas.Esuria/" target="_blank"><i class="fab fa-instagram" aria-hidden></i></a>
					<a href="http://lazarusondown.tumblr.com/" target="_blank"><i class="fab fa-tumblr-square" aria-hidden></i></a>
					<a href="https://www.linkedin.com/in/esuria/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden></i></a>
					<a href="https://open.spotify.com/user/116713410" target="_blank"><i class="fab fa-spotify" aria-hidden></i></a>
					<a href="https://soundcloud.com/esuria" target="_blank"><i class="fab fa-soundcloud" aria-hidden></i></a>
				</div>
			</div>

			<!-- COPYRIGHT -->

			<div id="Mention">
				<p><a href="Copyright.html">COPYRIGHT</a></p>
				<p><a href="Mention_Legales.html">MENTION LEGALES</a></p>
			</div>
		</header>

		<!-- MENU MOBILE -->
		<header id="Header_Mobile">
			<div id="Menu_Debut">
				<a href="Index.html" id="Logo_Mobile"><h1>ESURIA</h1></a>
			</div>
			<div id="Hamburger">
				<i id="Hamburger_mobile" class="fal fa-bars" aria-hidden></i>
			</div>
		</header>

	<!-- MENU MOBILE -->
	<header id="Header_Mobile">
		<div id="Menu_Debut">
			<a href="Index.html" id="Logo_Mobile"><h1>ESURIA</h1></a>
		</div>
		<div id="Hamburger">
			<i id="Hamburger_mobile" class="fal fa-bars" aria-hidden></i>
		</div>
	</header>

	<!-- CONTENU PRINCIPAL -->
	<main id="Site_content">

		<!-- CONTENU -->
			{% block content %}
			{% endblock %}

	</main>
	<!-- SCRIPT JAVASCRIPT -->
	{% block javascript %}
	{% endblock %}
</body>

</html>
