{% extends 'cms_base.html.twig' %}
{% block title %}
    {{parent()}}
    new-article
{% endblock %}
{% block css %}
  <link type="text/css" rel="stylesheet" href={{asset("css/addArticle.css")}} />
    <script src="https://cdn.ckeditor.com/4.6.2/full-all/ckeditor.js"> </script>
{% endblock %}
{% block content %}
    <div class="container">
    {{ form_start(form) }}
    {{form_row(form.titre)}}


    {{form_row(form.texte, {'id' : 'content'})}}
    {{form_row(form.type)}}
    {{form_row(form.path)}}
    {{form_row(form.description)}}
    {{form_row(form.image)}}
    {{form_row(form.banner)}}
    {{form_row(form.tag)}}
    <button id="Bouton_envoie">
        Envoyer
    </button>
    {{ form_end(form) }}

    {% if commentaires %}
        <div id="Total_com">
            <p id="Espace_Commentaire">
                Commentaire
            </p>
            {% for comment in commentaires %}

                <p>{{comment.username}}
                    : le
                    {{ comment.date|localizeddate('none', 'none', null, null, 'EEEE d ')|capitalize }}{{ comment.date|localizeddate('none', 'none', null, null, 'MMMM Y ')|capitalize }}</p>
                <p id="Zone_com">{{comment.texte}}</p>
                <div class="timeline_action">
                    <a href="{{path('delete-comment', {"id" : comment.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <vue-cropper ref="cropper" :src="imgSrc" alt="Source Image" :cropmove="cropImage"></vue-cropper>
    </div>
{% endblock %}
{% block js %}
  <script>
        CKEDITOR.replace('content', {
            height: 500,
            filebrowserUploadUrl: "/upload-image"
        });
    </script>
{% endblock %}
