{% extends 'cms_base.html.twig' %}
{% block title %}
    Esuria // CMS
{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href={{asset("css/CMS.css")}}/>
    <link type="text/css" rel="stylesheet" href={{asset("css/Index.css")}}/>
{% endblock %}
{% block content %}
    <!-- CONTENU -->
    <div id="Zone">
        <div
            class="CMS_wrap" id="Projets_cms">
            <!-- CONTENU -->
            <div id="Presentation" style="margin-top : 0em !important;">
                <h1>- Projets -</h1>
                <div id="Presentation_cms">
                    <div class="Article_list">
                        {% for project in projects %}
                            <div class="Article_line">
                                <p class="Article_date">{{project.date|localizeddate('long', 'none', 'locale')|capitalize}}</p>
                                <p class="Article_nom">{{project.title}}</p>
                                <p class="Article_nom">{{project.categorie}}</p>
                                <p class="Article_nom">
                                    <div id="circle" class="{{project.status}}"></div>
                                    {{project.status}}</p>
                                <div class="Article_Interaction">
                                    <a href="{{path("edit-project", {"id" : project.id })}}">
                                        <i class="fal fa-edit"></i>
                                    </a>
                                    <a href="{{path("delete-project", {"id" : project.id})}}">
                                        <i class="fal fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <a href="{{path('new-projet')}}">
                Nouveau Projet
            </a>
        </div>
        <div id="Competences">
            <h1>- Compétences -</h1>
            <div id="Competences_data">
                {% for technologie in technologies %}
                    <div class="Competences_line">
                        <i class="{{technologie.icon}}"></i>
                        <p>{{technologie.name}}</p>
                        <a href="{{path('edit-technologie',{"id" : technologie.id})}}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{path('delete-technologie',{"id" : technologie.id})}}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                {% endfor %}

                <div class="Competences_line">
                    <a href="{{path('new-technologie')}}" style="width: 100% !important;">
                        <i class="fas fa-plus"></i>
                        {# <p>Ajouter </p> #}
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>{% endblock %}{% block js %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="Fixe/javascript.js" type="text/javascript"></script>
<script>
    function switch_hobbies(number) {
        if (number == 1) {
            $('.Hobbies_Switch').removeClass('Coloractive');
            $('.fa-desktop').addClass('Coloractive');
            $('.CMS_Hobbies').removeClass('active');
            $('#cms_web').addClass('active');
        } else if (number == 2) {
            $('.Hobbies_Switch').removeClass('Coloractive');
            $('.fa-camera-alt').addClass('Coloractive');
            $('.CMS_Hobbies').removeClass('active');
            $('#cms_photo').addClass('active');
        } else if (number == 3) {
            $('.Hobbies_Switch').removeClass('Coloractive');
            $('.fa-video').addClass('Coloractive');
            $('.CMS_Hobbies').removeClass('active');
            $('#cms_video').addClass('active');
        } else if (number == 4) {
            $('.Hobbies_Switch').removeClass('Coloractive');
            $('.fa-wrench').addClass('Coloractive');
            $('.CMS_Hobbies').removeClass('active');
            $('#cms_diy').addClass('active');
        } else if (number == 5) {
            $('.Hobbies_Switch').removeClass('Coloractive');
            $('.fa-map').addClass('Coloractive');
            $('.CMS_Hobbies').removeClass('active');
            $('#cms_map').addClass('active');
        }
    }

    function confirm_delete(nom, id) {
        if (confirm('Voulez vous vraiment suprimmer le projet ' + nom + '?')) {
            alert(nom + ' supprimé.')
            delete(id);
        } else {
            alert('ok')
        }
    }
</script>{% endblock %}
